extends layout

block content

    h1=title

    form(action="", method="post")
        div
            input(type='text' placeholder='Author Name' name='author_name')
        
        button(type="submit") Submit