extends layout

block content

    h1=title

    form(action="", method="post")
        div
            input(type='text' placeholder='Book Instance' name='bookinstance_name')

        button(type="submit") Submit