extends layout

block content

    h1=title

    p this is page contain all book instance list 

    ul
    each Book_Instance in Book_Instance_List
        li #{Book_Instance.book} , #{Book_Instance.imprint} - status : #{Book_Instance.status}
    else
        li No book instance list available
