extends layout

block content

    h1=title

    p this is page should contain all books list 

    ul
        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint autem similique enim magni quibusdam sequi tempora? Deleniti dolorem deserunt vel harum quibusdam, eveniet veniam magni ipsum, quasi odit odio accusamus.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis reiciendis maxime est, rerum autem quae voluptatum consequatur numquam et sint sit? Nobis beatae exercitationem assumenda recusandae dolorem aspernatur voluptates.

