extends layout

block content

    h1=title

    p this is page contain all authors list 

    ul
    each author in Author_List
        li #{author.family_name}, #{author.first_name} (#{author.lifespan})
    else
        li No Author Listed!

